body{
    margin-top: 70px;
    background-image: url("https://i.pinimg.com/originals/0f/da/cf/0fdacfaf2062160b8d2b1712bae9e86e.jpg") ;
    background-position: top;
    font-family: "Eagle Lake", cursive;

}

form{
    position: absolute;
    margin: auto;

}

input{
    font-family: "Eagle Lake", cursive;
    border: 1px black solid;
    padding: 5px;
    box-shadow: rgba(0,0,0,0.5) 2px 2px;
    border-radius: 10px;
}

select{
    border: 1px black solid;
    padding: 5px;
    font-family: "Eagle Lake", cursive;

}

option{
    border: 1px black solid;
    background-color: #aaaaaa;
}


.boutton:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: none;

}

.numb{
    width: 30px;
    margin-left: 50px;
}

.numb:last-child{
    width: 50px;
}

#mainDiv {
    position: relative;
   // background-color: #003eff;

}

#score {
    position: absolute;
    top: 0;
    left: 300px;
    margin-top: 1px;
    border: 1px solid black;
    padding: 3px;
}

#confDiv{
    position: absolute;
    left: 400px;
    top: 0;
    display: block;
}

#confDiv *{
    margin-bottom: 5px;
}

#cancel{
    margin-left: 5%;
}

#autre{
    //background-color: #007fff;
    position: absolute;
    top: 90px;
}

#bandeau{
    background-color: rgba(255,255,255,0.5);
    height: 188px;
    border: 5px solid crimson;
    padding: 10px;
}